InCubeIntegration_BL/Service References/UFC_LoadRequest_WS/MM-PRD 500 LOAD REQ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char200">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="200" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal19.9">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="19" />
          <xsd:fractionDigits value="9" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="unit3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZMM_INV_LOAD_RETURN">
        <xsd:sequence>
          <xsd:element name="MAT_DOC" type="tns:char10" />
          <xsd:element name="ICODE" type="tns:char18" />
          <xsd:element name="QTY" type="tns:decimal19.9" />
          <xsd:element name="UOM" type="tns:char200" />
          <xsd:element name="MSGTY" type="tns:char1" />
          <xsd:element name="MESSAGE" type="tns:char220" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMM_INV_LOAD">
        <xsd:sequence>
          <xsd:element name="TRNUM" type="tns:char10" />
          <xsd:element name="VEH_NO" type="tns:char10" />
          <xsd:element name="LGORT" type="tns:char4" />
          <xsd:element name="TR_TYPE" type="tns:char1" />
          <xsd:element name="TR_STAT" type="tns:char1" />
          <xsd:element name="TR_DATE" type="tns:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMM_INV_LOAD_ITEM">
        <xsd:sequence>
          <xsd:element name="TRNUM" type="tns:char10" />
          <xsd:element name="LNUMB" type="xsd:unsignedByte" />
          <xsd:element name="ICODE" type="tns:char18" />
          <xsd:element name="UOM" type="tns:unit3" />
          <xsd:element name="QTY" type="tns:decimal19.9" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMM_INV_LOAD_RETURN_TT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZMM_INV_LOAD_RETURN" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZMM_INV_LOAD_ITEM_TT">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZMM_INV_LOAD_ITEM" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZMM_INV_LOAD_POST_WS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="STATUS" type="tns:char4" />
            <xsd:element name="TRNUM" type="tns:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMM_INV_LOAD_POST_WSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_LOG" type="tns:ZMM_INV_LOAD_RETURN_TT" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMM_INV_LOAD_REQ_WS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_HEAD" type="tns:ZMM_INV_LOAD" />
            <xsd:element name="ET_ITEM" type="tns:ZMM_INV_LOAD_ITEM_TT" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMM_INV_LOAD_REQ_WSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_ERROR" type="tns:ZMM_INV_LOAD_RETURN_TT" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMM_INV_LOAD_RET_WS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_HEAD" type="tns:ZMM_INV_LOAD" />
            <xsd:element name="ET_ITEM" type="tns:ZMM_INV_LOAD_ITEM_TT" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZMM_INV_LOAD_RET_WSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ET_ERROR" type="tns:ZMM_INV_LOAD_RETURN_TT" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZMM_INV_LOAD_POST_WS">
    <wsdl:part name="parameters" element="tns:ZMM_INV_LOAD_POST_WS" />
  </wsdl:message>
  <wsdl:message name="ZMM_INV_LOAD_POST_WSResponse">
    <wsdl:part name="parameter" element="tns:ZMM_INV_LOAD_POST_WSResponse" />
  </wsdl:message>
  <wsdl:message name="ZMM_INV_LOAD_REQ_WS">
    <wsdl:part name="parameters" element="tns:ZMM_INV_LOAD_REQ_WS" />
  </wsdl:message>
  <wsdl:message name="ZMM_INV_LOAD_REQ_WSResponse">
    <wsdl:part name="parameter" element="tns:ZMM_INV_LOAD_REQ_WSResponse" />
  </wsdl:message>
  <wsdl:message name="ZMM_INV_LOAD_RET_WS">
    <wsdl:part name="parameters" element="tns:ZMM_INV_LOAD_RET_WS" />
  </wsdl:message>
  <wsdl:message name="ZMM_INV_LOAD_RET_WSResponse">
    <wsdl:part name="parameter" element="tns:ZMM_INV_LOAD_RET_WSResponse" />
  </wsdl:message>
  <wsdl:portType name="ZMM_LOAD_REQ_POST_RET_WS">
    <wsdl:operation name="ZMM_INV_LOAD_POST_WS">
      <wsdl:input message="tns:ZMM_INV_LOAD_POST_WS" />
      <wsdl:output message="tns:ZMM_INV_LOAD_POST_WSResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZMM_INV_LOAD_REQ_WS">
      <wsdl:input message="tns:ZMM_INV_LOAD_REQ_WS" />
      <wsdl:output message="tns:ZMM_INV_LOAD_REQ_WSResponse" />
    </wsdl:operation>
    <wsdl:operation name="ZMM_INV_LOAD_RET_WS">
      <wsdl:input message="tns:ZMM_INV_LOAD_RET_WS" />
      <wsdl:output message="tns:ZMM_INV_LOAD_RET_WSResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:ZMM_LOAD_REQ_POST_RET_WS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZMM_INV_LOAD_POST_WS">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMM_LOAD_REQ_POST_RET_WS:ZMM_INV_LOAD_POST_WSRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZMM_INV_LOAD_REQ_WS">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMM_LOAD_REQ_POST_RET_WS:ZMM_INV_LOAD_REQ_WSRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ZMM_INV_LOAD_RET_WS">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZMM_LOAD_REQ_POST_RET_WS:ZMM_INV_LOAD_RET_WSRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="binding" binding="tns:binding">
      <soap:address location="http://ERPDXBSRV01.ufc.local:8000/sap/bc/srt/scs/sap/zmm_load_req_post_ret_ws?sap-client=500" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>