InCubeIntegration_BL/Service References/HammodehWS/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://testing.b1pro.com:8084/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://testing.b1pro.com:8084/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFSAPService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_Item">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q3:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_ItemResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_DueInvoiceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q4:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_DueInvoiceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_DueInvoiceListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_CustomerStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q5:MCompany" />
        <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_CustomerStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_CustomerStatementResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q6:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_ItemGroupsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemSubGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q7:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemSubGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_ItemSubGroupsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_InvoiceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q8:MCompany" />
        <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_InvoiceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_InvoiceListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemUoM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q9:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemUoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_ItemUoMResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemSaleUoM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q10:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ItemSaleUoMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_ItemSaleUoMResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_Banks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q11:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_BanksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_BanksResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_PriceList_H">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q12:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_PriceList_HResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_PriceList_HResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_PriceList_D">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q13:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_PriceList_DResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_PriceList_DResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_POS_Info">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q14:MCompany" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="ObjCust" nillable="true" type="q15:MCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_POS_InfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_POS_InfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ExchangeRateInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q16:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_ExchangeRateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_ExchangeRateInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_User">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q17:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_UserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_UserResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_AccountStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q18:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_AccountStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_AccountStatementResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_Stores">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q19:MCompany" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objWhs" nillable="true" type="q20:MWareHouse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_StoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_StoresResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_Stores_Balance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q21:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_Stores_BalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_Stores_BalanceResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_AddressesInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q22:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_AddressesInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_AddressesInfoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_SalesPersonItemGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objcompany" nillable="true" type="q23:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Get_SalesPersonItemGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Get_SalesPersonItemGroupResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_Payment_Invoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q24:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_Payment_InvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_Payment_InvoiceResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_ReserveInvoiceHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q25:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_ReserveInvoiceHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_ReserveInvoiceHDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
        <xs:element minOccurs="0" name="DocNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_InvoiceHD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q26:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_InvoiceHDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_InvoiceHDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
        <xs:element minOccurs="0" name="DocNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_Payment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q27:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_PaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_PaymentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_InvoiceNoPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q28:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_InvoiceNoPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_InvoiceNoPaymentResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
        <xs:element minOccurs="0" name="DocNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_StockTransferRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q29:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_StockTransferRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_StockTransferRequestResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
        <xs:element minOccurs="0" name="DocNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_SalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q30:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_SalesOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_SalesOrderResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
        <xs:element minOccurs="0" name="DocNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_Delivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q31:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_DeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_DeliveryResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
        <xs:element minOccurs="0" name="DocNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_CreditNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q32:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_CreditNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_CreditNoteResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" type="xs:int" />
        <xs:element minOccurs="0" name="DocNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_BusinessPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCFSAPService" minOccurs="0" name="objCom" nillable="true" type="q33:MCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HH_Add_BusinessPartnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HH_Add_BusinessPartnerResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>